.dashboard
  h2
    margin-top 4rem
    margin-bottom 2rem
  h2:first-child
    margin-top 0
  .overview
    display flex
    justify-content space-between

    .data-point
      text-align center
      .value
        font-size 2rem

  .faculties
    .faculty
      margin-top 2rem
    .faculty:first-child
      margin-top 0
    .data-points
      margin-top .25rem
      opacity .4
    .data-point
      display inline-block
      margin-right 1rem
      .value
        display inline
        font-weight bold
        margin-right .5rem
      .description
        display inline

    .data-point:last-child
      margin-right 0
