.date-range-picker
  table
    width 100%
    border-collapse collapse

  td
    text-align center

  td.month
    padding .35rem
    border-right 3px solid #fff
    background rgba(0, 0, 0, .0525)
    border-bottom .25rem solid #fff
    font-size .6rem
    &:last-child
      border-right 0

  td.day, td.weekday
    position relative
    padding .25rem .125rem
    -webkit-user-select none
    &.weekend
      color alpha(text-color, 0.25)
      //background #FFF2C9
    &.selected, &.in-range.selected
      background lighten(#ccc, 30%)
    &.weekend.selected, &.in-range.weekend.selected
      //background darken(#ccc, 20%)
    &.in-range
      background lighten(#66a0ed, 90%)
    &.in-range.weekend
      //background lighten(#66a0ed, 70%)
    &.in-range:before
      content ''
      display block
      position absolute
      top 0
      right 0
      bottom 0
      left 0
      border 0 solid #66a0ed
    &.range-start:before
      border-left-width 2px
    &.range-end:before
      border-right-width 2px
  td.weekday.in-range:before
    border-top-width 2px
  td.day.in-range:before
    border-bottom-width 2px

  td.day
    font-size .8rem
    padding .125rem .125rem .25rem

  td.weekday
    padding .25rem .125rem 0
    font-size .5rem
    text-transform uppercase
