.explore
  header
    display flex
    justify-content space-between
    align-items center
    margin-bottom 2rem
    h1
      margin 0
      padding 0

  .date-range
    margin-top 2rem
    text-align right
    input:first-child
      margin-right 1rem

  .chart-container
    height 20rem
    position relative

  .loading-indicator
    position absolute
    top 0
    right 0
    bottom 0
    left 0
    z-index 100
    background rgba(255, 255, 255, .5)
    display flex
    justify-content center
    &:before
      align-self center
      content url('/loading-indicator.gif')
      opacity .6

  .data-dimensions
    margin 2rem 0
    display flex
    justify-content stretch

    .data-dimension-container
      margin-right 2rem
      width 100%
      display flex
      justify-content stretch
      div
        width 100%
      font-size 1rem
      line-height 1.6
      &:before
        content ''
        border-radius 50%
        display block
        width 1rem
        height 1rem
        margin-right .5rem
      &:nth-child(1):before
        background colors-dimension1
      &:nth-child(2):before
        background colors-dimension2
      &:nth-child(3):before
        background colors-dimension3
      &:last-child
        margin-right 0

    .data-dimension-select-container
      width 100%
      line-height 0
      select
        width 100%
        font-size 1rem

    .data-dimension-stats
      margin-top .5rem
      border-top 1px solid #efefef
      padding-top .5rem
      color #999
      strong
        font-weight normal
        color black

    .data-dimension-filter
      font-size .7rem
      margin-top .5rem
      label
        margin-right 1rem
      label:last-child
        margin-right 0
