.super-menu
  border 1px solid #ccc
  border-radius 2px
  .breadcrumbs
    padding .25rem .5rem
    font-size .6rem
    border-bottom 1px solid #ccc
    margin-bottom 2px

    a
      margin-right .5rem
      background #efefef
      cursor pointer

    a, span
      border-radius 2px
      display inline-block
      padding .125rem .25rem

    .showing
      border-bottom 2px solid #999

  ul
    height 6.2rem
    overflow-y auto

  li
    display block
    padding .5rem
    font-size .8rem
    cursor pointer
  li:hover
    background #efefef
  li.selected
    background #80a4ed
  li.has-children
    display flex
    justify-content space-between
    &:after
      content '▶'
      display block
      opacity .5
