@import '../node_modules/normalize.css/normalize.css'
@import 'styles/dashboard'

*
  margin 0
  padding 0
  box-sizing border-box

html
  font-size 20px

body
  text-align center

.app-header
  display flex
  justify-content space-between
  align-items center
  padding 1rem

  nav a
    margin-right 1.5rem
  nav a:last-child
    margin-right 0

  h1
    margin 0
    font-size 1.2rem

.app-body
  margin 0 auto
  max-width 50rem
  padding 1rem
  text-align left
